<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Welcome to E-Cart Customer Login!!</h3>
            <input type="text" class="form-control" placeholder="Email">
            <br>
            <input type="password" class="form-control" placeholder="Password">
            <br>
            <button class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
        <div class="col-md-5">
            <br>
            <a href="#">Forgot Password?</a>
        </div>
        <div class="col-md-7">
            <br>
            <a [routerLink]="['/register']">Not a member? Register Here</a>
        </div>
    </div>
</div>
