<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>New Registration</h3>
            <br>
            <input type="text" class="form-control" placeholder="First Name">
            <br>
            <input type="text" class="form-control" placeholder="Last Name">
            <br>
            <input type="email" class="form-control" placeholder="Email">
            <br>
            <input type="date" class="form-control" placeholder="Date of Birth">
            <br>
            <input type="password" class="form-control" placeholder=" New Password">
            <br>
            <input type="text" class="form-control" placeholder="Adress">
            <br>
            <button class="btn btn-primary" (click)="onRegister()">Register</button>
        </div>
    </div>
</div>